<header>
    <div class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="logo">
    </div>
    <nav>
      <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/">Create</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
    </nav>
    </div>
  </header>
<section id="login-section">
  <h2>Log in</h2>

<form action="/login" method="POST">
  <label>
    <input type="text" name="username" placeholder="Your username">
  </label>
  <label>
    <input type="email" name="email" placeholder="Your email">
  </label>
  <label>
    <input type="password" name="password" placeholder="Your password">
  </label>
  <button>Login</button>


{{!--POUR METTRE MESSAGE D'ERREUR--}}
{{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
{{/if}}

</form>
</section>
