<header>
    {{> navbar}}
  </header>
  <div class="background-log">
    <section id="login-section">
      <h2>Log in</h2>
    <form action="/login" method="POST">
      <label>
        <input type="email" name="email" placeholder="Your email">
      </label>
      <label>
        <input type="password" name="password" placeholder="Your password">
      </label>
      <button>Login</button>

{{!--POUR METTRE MESSAGE D'ERREUR--}}
{{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
{{/if}}

    </form>
  </section>
  </div>
