<header>
    <div class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="logo">
    </div>
    <nav>
      <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/">Create</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
    </nav>
    </div>
  </header>
<div id="main">
  <section id="signup-section">
  <h2>Sign up</h2>
    <form action="/signup" method="POST" enctype="multipart/form-data">
      <label class="form-labels">
        <input class="form-input" type="text" name="username" placeholder="Username">
      </label>

      <label class="form-labels">
        <input class="form-input" type="email" name="email" placeholder="Email">
      </label>

      <label class="form-labels">
        <input class="form-input" type="password" name="password" placeholder="Password">
      </label>

      <label class="form-labels">
        <input class="form-input" type="file" name="image" class="form-control-file" />
      </label>

      <button>Create my account</button>
    
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

  </form>
</section>
<footer id="footer-signup">
      <div class="elements-footer">
        <p>Index of ingredients</p>
        <p>About us</p>
        <p>Contact</p>
      </div>
</footer>
</div>




