<header>
    {{> navbar}}
  </header>
<div id="main">
  <section id="signup-section">
  <h2>Sign up</h2>
    <form action="/signup" method="POST" enctype="multipart/form-data">
      <label class="form-labels">
        <input class="form-input" type="text" name="username" placeholder="Username">
      </label>

      <label class="form-labels">
        <input class="form-input" type="email" name="email" placeholder="Email">
      </label>

      <label class="form-labels">
        <input class="form-input" type="password" name="password" placeholder="Password">
      </label>

      <label class="form-labels">
        <input class="form-input" type="file" name="image" class="form-control-file" />
      </label>

      <button>CREATE MY ACCOUNT</button>
    
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

  </form>
</section>
</div>




