<section id="signup-section">
  <h2>Sign up</h2>
  <form action="/signup" method="POST">
    <label class="form-labels">
      Username
      <input class="form-input" type="text" name="username" placeholder="Your username">
    </label>

    <label class="form-labels">
      Email
      <input class="form-input" type="email" name="email" placeholder="Your email">
    </label>

    <label class="form-labels">
      Password
      <input class="form-input" type="password" name="password" placeholder="*********">
    </label>

    <button>Create an account</button>


    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

  </form>

</section>