<section id="signup-section">
  <h2>Sign up</h2>
  <form action="/signup" method="POST">
    <label class="form-labels">
      <input class="form-input" type="text" name="username" placeholder="Username">
    </label>

    <label class="form-labels">
      <input class="form-input" type="email" name="email" placeholder="Email">
    </label>

    <label class="form-labels">
      <input class="form-input" type="password" name="password" placeholder="Password">
    </label>

    <button>Create an account</button>


    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

  </form>

</section>