{{> navbar}}

<div class="container-account-created">
  <div class="account-created">
    <h1>Your account is created !</h1>
  </div>
  <button><a href="/login">Access to your account</a></button>
</div>
