{{> navbar}}

<div id="section-my-recipes">
  <h1>MY RECIPES</h1>
  <div class="container-my-recipes">
    <h1>YOU HAVE CREATED 0 RECIPES</h1>
    <button><a href="/create">Create a Recipe</a></button>
  </div>
</div>
