

<div class="container-research">
  <div class="container-titles">
    <h2>Stop Wasting</h2>
    <h1>Start Cooking</h1>
  </div>
  <div class="presentation">
    <p>Stuff lying around in your fridge and you don't know what to do with it ? Enter the list of ingredients and find 100% Zero Waste recipes !</p>
  </div>
  <div class="bar-search">
    <input type="search" id="recipes-search" name="recipes-search" placeholder="Ingredients">
  </div>
</div>


<div class="container-recipes-posted">
  <h3>Last Recipes Posted</h3>
    <div class="cards">
        <div class="card-deck">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
              <p class="card-title">Name of recipe</p>
              <p class="card-text">30 min</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
          </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
              <p class="card-title">Name of recipe</p>
              <p class="card-text">30 min</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
          </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
              <p class="card-title">Name of recipe</p>
              <p class="card-text">30 min</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
          </div>
          <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
              <p class="card-title">Name of recipe</p>
              <p class="card-text">30 min</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
      </div>     
    </div>
</div>
</div>













