
<section id="homepage-container">
  <header>
    {{> navbar}}
  </header>
  <div class="container-research">
    <div class="container-titles">
      <h2>Stop Wasting</h2>
      <h1>Start Cooking</h1>
    </div>
    <div class="presentation">
      <p>Stuff lying around in your fridge and you don't know what to do with it ? </p>
      <p>Enter the list of ingredients and find 100% Zero Waste recipes !</p>
    </div>
    <div class="bar-search">
      <form action="/" method="POST">
        <input type="search" id="ingredients-search-1" name="ingredient1" placeholder="Premier Ingredient">
        <input type="search" id="ingredients-search-2" name="ingredient2" placeholder="Second Ingredient">
        <input type="search" id="ingredients-search-3" name="ingredient3" placeholder="Troisième Ingredient">
        <button id="btn-search">search</button>
      </form>
      <p>Is this your first visit?</p>
      <p>Basil invites you to click on <a href="/signup">SIGN UP</a></p>
    </div>
  </div>
</section>

<div class="container-recipes-posted">
  <h3>Last Recipes Posted</h3>
    <div class="cards">
        <div class="card-deck">
            <div class="card">
              <img src="../images/photo-food1.jpeg" class="card-img-top" alt="...">
              <div class="back">
                <p class="card-title">Name of recipe</p>
                <p class="card-text">30 min</p>
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="../images/photo-food2.jpeg" class="card-img-top" alt="...">
              <div class="back">
                <p class="card-title">Name of recipe</p>
                <p class="card-text">30 min</p>
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="../images/photo-food3.jpeg" class="card-img-top" alt="...">
              <div class="back">
                <p class="card-title">Name of recipe</p>
                <p class="card-text">30 min</p>
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="../images/photo-food4.jpeg" class="card-img-top" alt="...">
              <div class="back">
                <p class="card-title">Name of recipe</p>
                <p class="card-text">30 min</p>
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
      </div>     
    </div>
</div>

</div>













