<div class="navbar">
  <div class="logo">
    <img src="/images/logo.jpg" alt="logo">
  </div>
  <nav>
    <ul>
      <li><a href="/">Recipes</a></li>
      <li><a href="/">Create</a></li>
      <li><a href="/">Sign Up</a></li>
      <li><a href="/">Log In</a></li>
    </ul>
  </nav>
</div>

<div class="container-research">
  <div class="container-titles">
    <h2>Stop Wasting</h2>
    <h1>Start Cooking</h1>
  </div>
  <div class="presentation">
    <p>Stuff lying around in your fridge and you don't know what to do with it ? Enter the list of ingredients and find 100% Zero Waste recipes !</p>
  </div>
  <div class="bar-search">
    <input type="search" id="recipes-search" name="recipes-search" placeholder="Ingredients">
  </div>
</div>


<div class="container-recipes-posted">
  <h3>Last Recipes Posted</h3>
    <div class="cards">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  
        </div>
    </div>
  </div>
</div>










