<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

  <nav>
    <img src="/images/logo.png" alt="logo">
    <ul id="header-menu">
      <li class="header-link">ALL RECIPES</li>
      <li class="header-link">CREATE A RECIPE</li>
      <li class="header-link">SIGN UP</li>
      <li class="header-link">LOG IN</li>
    </ul>
  </nav>

  {{{body}}}

<footer>
    <p>Laura Bonnavent &#38; Claire Lacanal © All Rights Reserved</p>
</footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>