<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

</head>
<body>

  <nav>
    <img src="/images/logo.png" alt="logo">
    <ul id="header-menu">
      <li class="header-link">ALL RECIPES</li>
      <li class="header-link">CREATE A RECIPE</li>
      <li class="header-link">SIGN UP</li>
      <li class="header-link">LOG IN</li>
    </ul>
  </nav>

  {{{body}}}

  <footer>
    <ul id="footer-menu">
      <li class="footer-link">INGREDIENT INDEX</li>
      <li class="footer-link">ABOUT US</li>
      <li class="footer-link">CONTACT</li>
    </ul>
  </footer>


  <script src="/javascripts/script.js"></script>
</body>
</html>