@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  --blanc: #ffffff;
  --noir: #000000;
  --rouge: #C8553D;
  --vertpomme: #879C29;
  --vertfonce: #71841F;
  --jaune: #E7F401;
  --orange: #F28F3B;
  --rose: #FFD5C2;
  --bleu: #588B8B;
  --rosefonce: rgba(200, 85, 61, 0.7);
  --gris: #ecf0f1;
  --cabin:'Cabin', sans-serif;
  --roboto:'Roboto', sans-serif; }

body {
  padding: 0px;
  margin: 0px;
  font-family: var(--roboto); }

a {
  color: var(--rouge); }

h2 {
  font-size: 80px;
  color: var(--rouge);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--cabin); }

/*NAVBAR*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--cabin); }

.logo img {
  width: 100px;
  margin: 0.5em 1.5em; }

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 0 0.8em 0 0; }

nav ul li {
  list-style: none;
  margin-right: 3em; }

nav ul li:not(:last-child) {
  margin-right: 3em; }

nav ul li a {
  text-decoration: none;
  color: var(--vertfonce);
  font-weight: 700;
  text-transform: uppercase; }

nav ul li a:hover {
  text-decoration: none;
  color: var(--rosefonce);
  font-weight: 700;
  text-transform: uppercase; }

/*CONTAINER RESEARCH*/
#homepage-container {
  position: relative;
  left: 0px;
  top: 0px;
  height: 100vh;
  background-image: url(../images/Fond-HP.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.container-research {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0em 5em 0em 5em;
  padding-top: 150px; }

.container-titles {
  margin: 0; }

.container-titles h2 {
  font-size: 75px;
  color: var(--rosefonce);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0; }

.container-titles h1 {
  font-size: 85px;
  color: var(--rouge);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 700;
  transform: translate(0, -35px); }

.presentation p {
  margin: 0;
  font-weight: 500; }

.bar-search {
  margin-bottom: 2em;
  margin-top: 2em; }

.bar-search a {
  color: var(--rouge); }

.bar-search a:hover {
  color: var(--rouge);
  text-decoration: none; }

.bar-search p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px; }

.bar-search a {
  color: var(--red); }

.bar-search input {
  width: 450px;
  height: 3em;
  border-width: 2px;
  border-color: var(--rose);
  border-radius: 28px;
  padding: 0.8em;
  margin-top: 1em;
  display: block; }

#btn-search {
  background-color: var(--rouge);
  border: 1px solid var(--rouge);
  border-radius: 28px;
  color: var(--blanc);
  font-weight: 700;
  width: 7em;
  height: 3em;
  text-transform: uppercase;
  margin: 1em 0;
  display: block; }

/* CONTAINER RECIPES POSTED */
.container-recipes-posted {
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5em; }

.container-recipes-posted h3 {
  color: var(--rouge);
  font-weight: 700;
  text-transform: uppercase; }

.cards {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.card {
  width: 20em;
  height: 25em;
  margin: 1em; }

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #dcdde1;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 0.5em;
  height: 6em; }

.text-muted {
  text-align: center;
  display: block; }

.card img {
  height: 270px; }

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  text-align: center; }

.card-text {
  margin: 0;
  font-size: 12px;
  text-align: center; }

/*RECIPES PAGE*/
#recipes-page {
  display: flex; }

#recipes-filter {
  width: 30%; }

.recipes-zone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto; }

/*FOOTER*/
footer {
  background-color: var(--rosefonce); }

.elements-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  mmargin-top: 5em;
  height: 3em;
  width: 60em;
  margin-left: auto;
  margin-right: auto; }

.elements-footer p {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase; }

/*SIGNUP*/
#main {
  background-image: url(../images/Signup.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 662px; }

#signup-section h2 {
  margin-left: 3em;
  padding-top: 6em; }

#signup-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 300px;
  margin-left: 2em;
  margin-top: 0em; }

/*LOGIN*/
.background-log {
  background-image: url(../images/Login.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 63.5vh;
  margin-top: 10em; }

#login-section h2 {
  color: var(--rouge);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 22em;
  padding-top: 0em; }

#login-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em; }

#footer-log {
  margin-top: 30em; }

/*FORMS SIGNUP ET LOGIN */
form input {
  background-color: var(--gris);
  border: 1px solid var(--gris);
  width: 30em;
  padding: 0.3em;
  border-radius: 0.2em; }

button {
  background-color: var(--rouge);
  border: 1px solid var(--rouge);
  border-radius: 10em;
  color: var(--blanc);
  font-weight: 700;
  width: 15em;
  height: 3em;
  text-transform: uppercase; }

/*ACCOUNT CREATED*/
#main-account {
  background-image: url(../images/Signup.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 662px; }

#account-section h2 {
  color: var(--vertfonce);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 3em;
  padding-top: 6em; }

#account-section button {
  margin-left: 11.5em;
  margin-top: 2em;
  color: var(--blanc); }

#account-section a {
  color: var(--blanc);
  text-decoration: none; }

/* USER-PROFIL */
.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em; }

.container-user-img img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10em;
  height: 10em;
  border-radius: 100px; }

.container-user h2 {
  font-size: 30px;
  color: var(--rouge);
  margin-bottom: 1em; }

.container-activities-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.activitie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--jaune);
  margin-left: 3em;
  margin-right: 3em;
  width: 15em;
  height: 13em;
  margin-bottom: 3em;
  border-radius: 0.8em; }

.activitie a {
  color: var(--noir);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center; }

.activitie a:hover {
  color: var(--noir);
  text-decoration: none; }

.container-user button {
  text-transform: uppercase;
  color: var(--gris);
  background-color: var(--vertpomme);
  border-color: var(--vertpomme);
  border-radius: 0.2em; }

.container-user button a {
  color: var(--blanc); }

.container-user button a:hover {
  color: var(--blanc);
  text-decoration: none; }

/*ACCOUNT SECTION SETTINGS */
#signup-section-settings form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em; }

#signup-section-settings h2 {
  color: var(--rouge);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 5em;
  padding-top: 3em;
  font-size: 35px; }

/*DETAILS RECIPES */
.name-of-recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em; }

.name-of-recipe h1 {
  margin-left: 1em;
  color: var(--rouge); }

.infos {
  background-color: var(--rose);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 3em;
  padding: 1.5em;
  border-radius: 0.8em; }

.infos h5 {
  margin-left: 2em;
  color: var(--vertfonce); }

.infos ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px; }

.infos ul li {
  list-style: none;
  margin-left: 1em; }

.ingredients-used {
  background-color: var(--rose);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 1.5em;
  padding: 1.5em;
  border-radius: 0.8em; }

.ingredients-used h5 {
  margin-left: 2em;
  color: var(--vertfonce); }

.ingredients-used ul li {
  list-style: none;
  margin-top: 1em; }

.ingredients-used ul li:before {
  content: "→ ";
  /* caractère UTF-8 */ }

.recipe {
  background-color: var(--rose);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2em;
  padding: 1.5em;
  border-radius: 0.8em; }

.recipe h5 {
  margin-left: 2em;
  color: var(--vertfonce); }

.recipe ul ol {
  margin-top: 1em; }

.comment {
  background-color: var(--rose);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2em;
  padding: 1.5em;
  border-radius: 0.8em; }

.comment h5 {
  margin-left: 2em;
  color: var(--vertfonce); }

#details-recipes {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em; }

/*FORMULAIRE CREATE RECIPE*/
.formulaire-create-recipe {
  background-color: lawngreen; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 8em; }

/*# sourceMappingURL=style.css.map */