*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blanc: #ffffff;
  --noir: #000000;
  --rouge: #C8553D;
  --vertpomme: #879C29;
  --vertfonce: #71841F;
  --jaune: #E7F401;
  --orange: #F28F3B;
  --rose: #FFD5C2;
  --bleu: #588B8B;
  --rosefonce: #CF6F3F;
  --gris: #ecf0f1;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
}

/*NAVBAR*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  margin-left: 1em;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin-right: 0.8em;
}

nav ul li {
  list-style: none;
  margin-right: 3em;
}

nav ul li:not(:last-child){
  margin-right: 3em;
  }

nav ul li a {
  text-decoration: none;
  color: var(--vertfonce);
  font-weight: 700;
  text-transform: uppercase;
  font-family: Inter;
}

nav ul li a:hover {
  text-decoration: none;
  color: var(--rosefonce);
  font-weight: 700;
  text-transform: uppercase;
}

/*CONTAINER RESEARCH*/

.container-research {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 300px;
  margin: 5em 5em 10em 5em;
  
}

.container-titles  {
  margin: 0;
  width: 500px;
}

.container-titles h2 {
  font-size: 40px;
  color: var(--rose);
  text-transform: uppercase;
  margin: 0;
  padding:0;
  font-weight: 500;
}

.container-titles h1 {
  font-size: 45px;
  color: var(--rouge);
  text-transform: uppercase;
  margin: 0;
  padding:0;
  font-weight: 700;
}

.bar-search {
  margin-bottom: 2em;
}

.bar-search input {
  width: 500px;
  height: 3em;
  border-width: 3px;
  border-color: var(--rose);
  border-radius: 40px;
  padding: 0.8em;
}


/* CONTAINER RECIPES POSTED */

.container-recipes-posted {
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container-recipes-posted h3 {
  color: var(--rouge);
  font-weight: 700;
  text-transform: uppercase;
}

.cards {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.card {
  width: 17em;
  height: 12em;
  margin: 0;
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.card-text {
  margin: 0;
  font-size: 12px;
}

/*FOOTER*/
footer {
  background-color: var(--rosefonce);  
}

.elements-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5em;
  height: 3em;
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.elements-footer p {
  font-size: 15px;
  font-weight: 700;
}

/*SIGNUP*/
#signup-section {
  margin-top: 7em;
  height: 485px;
}

#signup-section h2 {
  color: var(--rouge);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 4.5em;
}


/*FORMS SIGNUP ET LOGIN */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 300px;
  margin-left: 5em;
  margin-top: 3em;
}

form input {
  background-color: var(--gris);
  border: 1px solid var(--gris);
  width: 30em;
  padding: 0.3em;
  border-radius: 0.2em;
}

button {
  background-color:var(--rouge);
  border: 1px solid var(--rouge);
  border-radius: 0.2em;
  color:var(--blanc);
  font-weight: 700;
  width: 15em;
  height: 3em;
  text-transform: uppercase;
}



