{{#each recipes}}
<div class="card-deck">
    <div class="card">
      <img src={{image}} class="card-img-top" alt="{{title}}-image">
      <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{readyInMinutes}} min</p>
      </div>
  </div>
</div>
{{/each}}